@use 'sass:list';
@use "./variables.scss" as *;

// Reset
*, 
*::after,
*::before {
  margin: 0;
  margin-inline: 0;
  margin-block: 0;
  padding: 0;
  position: relative;
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  transition: all .333s ease-in-out;
  box-sizing: border-box;
  list-style: none;
  font: inherit;
  line-height: 100%;
}


// Default styles
body {
  background-color: $gray5;
  color: $gray1;
}

section {
  width: 100%;
}

// Color styles
@each $name, $value in $color {
  .bg-#{$name} { background-color: #{$value}; }
  .color-#{$name} { color: #{$value}; }
  .border-#{$name} { border-color: #{$value}; }
  .outline-#{$name} { outline-color: #{$value}; }
}

// Typography styles
.heading {
  font-family: var(--font-heading);
}
.body {
  font-family: var(--font-body);
}
@for $i from 3 through 24 {
  $j: $i * 4;
  .font-#{$j} {
    font-size: #{$i * 0.25}rem;
  }
}
@for $i from 4 through 9 {
  $j: $i * 100;
  .font-#{$j} {
    font-weight: #{$j};
  }
}

$typography: (
  "heading": (
    1: (96, 900),
    2: (64, 900),
    3: (48, 800),
    4: (40, 700),
  ),
  "body": (
    1: (40, 600),
    2: (36, 600),
    3: (32, 600),
    4: (24, 500),
    5: (20, 500),
    6: (16, 500),
    7: (12, 500),
  )
);

@each $section, $levels in $typography {
  @each $level, $values in $levels {
    $size: list.nth($values, 1);
    $weight: list.nth($values, 2);
    
    @if not selector-exists(".font-#{$size}") {
      @error "Font size utility .font-#{$size} not found";
    }
    @if not selector-exists(".font-#{$weight}") {
      @error "Font weight utility .font-#{$weight} not found";
    }
    
    .#{$section}#{$level} {
      @extend .#{$section}, .font-#{$size}, .font-#{$weight}
    }
  }
}