// Colors
// -- Gray
$gray1: #f5f5f5;
$gray2: #b8b8b8;
$gray3: #7a7a7a;
$gray4: #3d3d3d;
$gray5: #000000;

// -- Accent
$accent1: #caabe0;
$accent2: #ba59ff;
$accent3: #9500ff;
$accent4: #6100a6;
$accent5: #24003d;

// -- Status
$info: #3d7eff;
$error: #ff3d3d;
$warning: #ffbe3d;
$success: #3dff7e;

$color: (
  "gray1": $gray1,
  "gray2": $gray2,
  "gray3": $gray3,
  "gray4": $gray4,
  "gray5": $gray5,
  "accent1": $accent1,
  "accent2": $accent2,
  "accent3": $accent3,
  "accent4": $accent4,
  "accent5": $accent5,
  "info": $info,
  "error": $error,
  "warning": $warning,
  "success": $success
);

// Numbers
$rem: 0.0625rem;


// CSS Variables
:root {
  font-size: 16px;

  @each $name, $value in $color {
    --color-#{$name}: #{$value};
  }
}
